html,
body {
  margin: 0;
  padding: 0;
  background-color: #121212; /* dark background */
  color: #e0e0e0;            /* light gray text */
  font-family: "Verdana", sans-serif;
}

.main-header {
  background-color: #1e1e1e;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
}

.title {
  text-align: center;
  margin: 0;
  font-size: 2em;
  font-family: "Helvetica", sans-serif;
  font-weight: normal;
  color: #ffffff;
}

#card-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;             
}

.card {
  background-color: #1e1e1e;
  border: 1px solid #333;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
  margin: 10px;
  width: 280px;
}

.card-content {
  padding: 20px;
  color: #e0e0e0;
}

.card-content h2 {
  margin-top: 0;
  font-size: 22px;
  color: #ffffff;
}

.card img {
  width: 100%;
  height: auto;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #1e1e1e;
  padding: 15px;
  border-top: 1px solid #333;
}
button {
  background-color: #333;
  border: 1px solid #555;
  color: #fff;
  font-size: 16px;
  padding: 10px 15px;
  margin: 5px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}